*{margin: 0;padding: 0;}


a, a:visited
{
    text-decoration: none;
    color: rebeccapurple;
}

ul li
{
    list-style: none;
}

#app
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#app nav h3
{
    text-indent: 1em;
}


#app nav, #app footer
{
    height: 50px;
    line-height: 50px;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}


#app footer ul
{
    margin: auto;
    width: fit-content;
}

#app footer ul li
{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
}

#app .view_container
{
    margin: 0 auto;
    width: 98%;
    max-width: 600px;
    height: calc(100% - 100px);
    overflow: auto;
}

.clear
{
    clear: both;
}

.no_scroll_bar
{
    /* hide the scrollbar for IE */
    -ms-overflow-style: none;
    /* hide the scrollbar for FIREFOX */
    overflow: -moz-scrollbars-none;
}

/* hide the scrollbar for CHROME */
.no_scroll_bar::-webkit-scrollbar
{
    width: 0;
}


.part
{
    width: calc(100% - 30px);
    margin: 9px;
    padding: 6px;
    margin-top: 9px;
    border-radius: 9px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.home_view, .craft_view, .community_view, .infomation_view
{
    margin: 0 auto;
    width: 100%;
}

#app .banner
{
    margin: 9px;
    min-height: 60px;
}

#app .banner img
{
    width: 100%;
    border-radius: 8px;
}

#app .lists ul>li
{
    display: block;
    float: left;
    margin-top: 9px;
    width: 33.3%;
    min-width: 60px;
    max-width: 120px;
}

#app .recomandaction ul li .right *
{
    font-size: x-small;
}

#app .recomandaction ul li .left
{
    width: 40%;
}

#app .recomandaction ul li .right
{
    width: 60%;
}

#app .recomandaction ul li .left img
{
    width: 100%;
    border-radius: 9px;
}

#app .infomation_view .info
{
    height: 60px;
}


.left, .right
{
    float: left;
    height: 100%;
}

#app .infomation_view .info .left img
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    vertical-align: middle;
}

#app .infomation_view .info .right
{
    width: calc(100% - 69px);
    margin-left: 9px;
}

#app .community_view .search >*
{
    height: 30px;
    background: transparent;
}

#app .community_view .search i
{
    width: 30px;
}

#app .community_view .search input
{
    width: calc(100% - 30px);
}

#app .community_view .search input:focus, #app .community_view .search input
{
    border: 0;
    outline: none;
}