<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <title>心鼠工坊 | 尽情创造世界！</title>
    <meta name="description" content="心鼠工坊，尽情创造世界！">
    <meta name="keywords" content="Starlight Studio,星光工作室,心鼠工坊，迷你世界社区,编程,文创">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="windows-Target" contect="_top">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <nav>
            <h3>心鼠工坊</h3>
        </nav>
        <div class="view_container no_scroll_bar">
            <div class="home_view" v-show="seen_page == 0">
                <div class="banner">
                    <img :src="cover" alt="Image Not Found">
                </div>
                <div class="part">
                    <h3>公告</h3>
                    <p>心鼠工坊正在测试中，星光工作室出品。</p>
                </div>
                <div class="part recomandaction">
                    <h3>为你推荐</h3>
                    <ul style="position: relative;">
                        <li v-for="(item, key) in random_some(maps, 4)" :key="key">
                            <div class="left">
                                <img :src="`https://map${item.select.node}.mini1.cn/map/${item.select.node}/${item.select.dir}/${item.select.thumb_md5}.png`"
                                    alt="Image Not Found">
                            </div>
                            <div class="right">
                                <h4> {{ item.select.name }} by {{item.select.uin_name}} {{item.select.uin}}</h4>
                                <p> {{ item.select.memo}}</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="part">
                    <h3>热门地图</h3>
                    <ul>
                        <li v-for="(item, key) in hots"> No {{ key + 1 }}. {{ item }} </li>
                    </ul>
                </div>
            </div>
            <div class="craft_view" v-show="seen_page == 1">
                <div class="part lists">
                    <h3>心鼠工具</h3>
                    <ul>
                        <li v-for="item in tools">
                            <i class="bi bi-link-45deg"></i>
                            <a :href="item.link" :title="item.intro">{{ item.title }}</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="part lists">
                    <h3>心鼠推荐</h3>
                    <ul>
                        <li v-for="item in tools">
                            <i class="bi bi-link-45deg"></i>
                            <a :href="item.link">{{ item.title }}</a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="community_view" v-show="seen_page == 2">
                <div class="part search">
                    <input type="text" placeholder="查找相关的人\消息">
                    <i class="bi bi-search"></i>
                </div>
                <div class="part">
                    <h3>圈子动态</h3>
                </div>
                <div class="part">
                    <h3>我的关注</h3>
                </div>
            </div>
            <div class="infomation_view" v-show="seen_page == 3">
                <div class="part info">
                    <div class="left">
                        <img src="favicon.ico" alt="Image Not Found">
                    </div>
                    <div class="right">
                        <h3>心鼠游客 <span style="font-size: small;">id: 114514</span></h3>
                        <p>这个人很勤快，什么都留下了。</p>
                    </div>
                </div>
                <div class="part">
                </div>
            </div>
        </div>
        <footer>
            <ul>
                <li class="bi bi-house" @click="seen_page = 0;"></li>
                <li class="bi bi-hammer" @click="seen_page = 1;"></li>
                <li class="bi bi-book" @click="seen_page = 2;"></li>
                <li class="bi bi-person" @click="seen_page = 3;"></li>
            </ul>
        </footer>
    </div>
    <script>
        let my_app = {
            data()
            {
                return {
                    cover: "https://s1.ax1x.com/2023/01/12/pSuJfij.jpg",
                    tools: [
                        {title: "心鼠像素画", intro: "几个步骤，快速生成像素画！", link: "/tools/pixels.html"},
                        {title: "心鼠自习室", intro: "自律自强！", link: "/tools/studyhall.html"},
                        {title: "心鼠记事本", intro: "记录生活点滴", link: "/tools/notepad.html"},
                        {title: "心鼠播放器", intro: "走进音乐", link: "/tools/musicplayer.html"},
                    ],
                    hots: [],
                    maps: {},
                    seen_page: 0
                }
            },
            methods:
            {
                random_some(data, count)
                {
                    var j = 0;
                    var temp = {};
                    for (const key in data)
                    {
                        temp[key] = data[key];
                        ++j;
                        if (j == count)
                        {
                            break;
                        }
                    }
                    return temp;
                }
            },
            beforeMount()
            {
                $.getJSON("https://kfz.mini1.cn/center/japi/pub/hot/hotKey/?size=9", function(data)
                {
                    this.hots = data.data;
                }.bind(this))
                $.getJSON("http://shequ.mini1.cn:8087/miniw/map?act=get_fp_list&apiid=&auth=d1d31d3ee0a1bead2e6ecee8100e4fc3&canal=6&json=1&s2t=1688809963&time=1688811336&uin=12345&ver=2.24.6", function(data)
                {
                    var buffer = ""
                    for (var index = 0; index < data.creator_ai.length; ++index)
                    {
                        buffer += `${data.creator_ai[index]}-`
                    }
                    $.getJSON(`http://shequ.mini1.cn:8087/miniw/map?act=get_map_list_info&apiid=&auth=c71869f423dbff8f7a729be6bde6f49f&canal=6&expert=1&fn_list=${buffer}&json=1&s2t=1688809963&time=1688812801&uin=12345&ver=2.24.6`,
                    function(data)
                    {
                        data.urls = undefined;
                        for (const key in data)
                        {
                            if (key == "urls") {continue;}
                            this.maps[key] = JSON.parse(JSON.stringify(data[key]));
                        }
                    }.bind(this))
                })
            }
        }
        
        Vue.createApp(my_app).mount("#app");
    </script>
</body>
</html>